[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "lib/pico_dht"]
	path = lib/pico_dht
	url = https://github.com/vmilea/pico_dht
